body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  input {
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #6C63FF;
    border-color: #6C63FF;
    border-radius: 8px;
  }
  
  .btn-outline-primary {
    border-radius: 8px;
  }
  
  .bg-primary {
    background-color: #6C63FF !important;
  }
  
  .text-primary {
    color: #6C63FF !important;
  }
  
  .shadow-lg {
    border-radius: 12px;
    overflow: hidden;
  }