@import './css/custom-banner.css';
@import './css/custom-button.css';
@import './css/custom-checkbox.css';
@import './css/custom-input.css';

/* src/theme/themes.css */
:root {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-primary: #6200ea;
}

.theme-dark {
    --color-background: #121212;
    --color-text: #ffffff;
    --color-primary: #bb86fc;
}

.theme-light {
    --color-background: #ffffff;
    --color-text: #424242;
    --color-primary: #BBF246;
    --color-invalid: #ff4d4f;
    --color-ligther: #d4d4d4;
    --color-links: #007bff;
}

body {
    background-color: var(--color-background) !important;
    color: var(--color-text) !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}
 h1 {
    color: red
}

.position-relative {
    position: relative;
  }
  
  .loading-overlay {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(205, 205, 205, 0.7);
    z-index: 1;
    border-radius: 30px;
  }
